.information,
.history,
.career {
    margin: 0;
    margin-bottom: 30px;
}

/* Information */

article {
    font-size: 1rem;
    /* padding-top: 10px;
    padding-left: 20px; */
    /* margin-right: 20px; */
    line-height: 2;
    text-indent: 50px;
    padding: 0 20px;
}

.split-view-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin: 20px 20px 30px 20px;
}

/* --- HISTORY TIMELINE STYLE --- */
.history-container {
    /* background: #ffffff; */
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 8px;
    /* box-shadow: 0 4px 20px rgba(0,0,0,0.05); */
    margin-top: 30px;
}

.history-intro {
    margin-bottom: 30px;
    color: var(--text-light);
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}

.timeline {
    border-left: 2px solid #eee; 
    padding-left: 30px;
    margin-left: 10px;
}

.timeline-item {
    position: relative;
    margin-bottom: 35px;
}

/* The orange bullet point on the line */
.timeline-item::before {
    content: '';
    position: absolute;
    left: -37px; /* Aligns with the border-left of .timeline */
    top: 5px;
    width: 12px;
    height: 12px;
    background-color: var(--accent-orange);
    border-radius: 50%;
}

.timeline-date {
    color: var(--accent-orange);
    font-family: 'Prompt', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.timeline-text .timeline-order{
    font-size: 0.95rem;
    line-height: 1.8;
    color: #444;
    text-align: justify;
}

.timeline-order {
    padding-top: 10px;
    padding-left: 25px;
}

/* Career */
.career-container{
    margin-top: 15px;
    margin-left: 50px;
    line-height: 2;
}

@media (max-width: 992px) {
    .information,
    .history,
    .career {
        margin-bottom: 50px;
    }

    article {
        padding: 0;
    }

    .split-view-body {
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
        gap: 30px;
    }
    
    .page-title {
        font-size: 1.5rem;
    }
    
    .history-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 600px) {
    
    .page-title {
        font-size: 1.3rem;
    }
}