<footer class="main-footer ">
    <div class="container footer-grid">
        <div class="footer-contact">
            <h3 class="footer-brand">IoT and Information Engineering</h3>
            <p class="university-name">King Mongkut's Institute of Technology Ladkrabang</p>
            
            <div class="contact-details">
                <p>📍 เลขที่ 1 ซอยฉลองกรุง 1 แขวงลาดกระบัง เขตลาดกระบัง กรุงเทพฯ 10520</p>
                <p>📞 โทรศัพท์ : 02-329-8000 ถึง 5129 , 02-329-8301 ถึง 235</p>
                <p>📧 อีเมล: iote@kmitl.ac.th</p>
            </div>

            <div class="social-links">
                <a href="https://www.facebook.com/IOTE.KMITL">Facebook</a> | <a href="https://www.instagram.com/kmitl.iote.official/">Instagram</a> | <a href="https://www.iote.kmitl.ac.th/">Website</a>                
            </div>
        </div>

        <div class="footer-map">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1768.1248335744572!2d100.77359173475634!3d13.727127202365553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d664bb802c079%3A0x947a912a091b0339!2sFaculty%20of%20Engineering%2C%20KMITL!5e1!3m2!1sen!2sus!4v1771132275322!5m2!1sen!2sus" 
                width="100%" 
                height="200px" 
                style="border:0; border-radius: 8px;" 
                allowfullscreen="" 
                loading="lazy">
            </iframe>
        </div>
    </div>    
    <div class="footer-bottom">
        <p>&copy; 2026 Department of IoT and Information Engineering, KMITL. All rights reserved.</p>
    </div>
</footer>