<header id="main-header">
    <div class="container header-container">
        <div class="brand">
            <a href="/index.html"><img src="/images/logo-nobg.png" alt="KMITL IoT Logo" class="logo-img"></a>
            <div class="brand-text">
                <h1>Department of IoT and Information Engineering</h1>
                <p>ภาควิชาวิศวกรรมไอโอทีและสารสนเทศ</p>
            </div>
        </div>
        
        <nav class="nav-desktop">
            <a href="/index.html" class="nav-link">Home</a>
            <a href="/pages/about.html" class="nav-link">About Us</a>
            <div class="dropdown">
                <a href="#" class="nav-link">Academics ▾</a>
                <div class="dropdown-content">
                    <a href="/pages/academics-iot.html">B.Eng.IoT and Information Engineering</a>
                    <a href="/pages/academics-physiot.html">B.Eng.IoT and Information Engineering + B.Sc.Industrial Physics</a>
                    <a href="/pages/academics-comcont.html">B.Eng.Computer Engineering (Continuing)</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="nav-link">Faculty ▾</a>
                <div class="dropdown-content">
                    <a href="/pages/faculty-iot.html">Professor of IoT and Information Engineering</a>
                    <a href="/pages/faculty-physiot.html">Professor of Industrial Physics</a>
                </div>
            </div>
            <a href="/pages/contact.html" class="nav-link">Contact Us</a>
        </nav>

        <div class="hamburger" id="hamburger">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>
    </div>
</header>

<div class="mobile-menu" id="mobileMenu">
    <p class="mobile-link" id="mobile-menu-title">IoT and Information Engineering, KMITL</p>
    <a href="/index.html" class="mobile-link">Home</a>
    <a href="/pages/about.html" class="mobile-link">About Us</a>
    <!-- <a href="#" class="mobile-link">Academics</a> -->
    <a href="/pages/admission.html" class="mobile-link">Admission</a>
    <!-- <a href="#" class="mobile-link">Faculty</a> -->
    <a href="/pages/contact.html" class="mobile-link">Contact Us</a>
</div>

<div class="menu-overlay" id="menuOverlay"></div>